﻿* {
	box-sizing: border-box;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

a {
	color: black;
	text-decoration: none;
}

.conteiner__block {
	width: 1240px;
	height: 2000px;
	position: relative;
	margin: auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background: linear-gradient(45deg, #e6ebe7, white );
}

.conteiner__block_pure {
	width: 1240px;
	min-height: 1200px;
	position: relative;
	margin: auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background: linear-gradient(45deg, #e6ebe7, white );
}

.conteiner__block_rent {
	width: 1240px;
	min-height: 1000px;
	position: relative;
	margin: auto;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	background: linear-gradient(45deg, #e6ebe7, white );
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 40px;
	font-family: 'Coda Caption', sans-serif;
}

.header__section {
	display: flex;
	align-items: center;
}

.header__item1 {
	padding: 40px 25px;
}

.header__item2 {
	padding: 40px 25px;
}

.btn-2 {
	width: 130px;
	height: 40px;
	text-align: center;
	color: black;
	padding: 10px 25px;
	font-family: 'Coda Caption', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,.5), 7px 7px 20px 0 rgba(0,0,0,.1), 4px 4px 5px 0 rgba(0,0,0,.1);
	outline: none;
}

.btn-2:before {
	height: 0;
	width: 2px;
}

.btn-2:hover {
	color: black;
	box-shadow: inset 7px 7px 7px 0 rgb(255, 204, 11), 17px 17px 10px 0 rgba(226, 36, 36, .1), 14px 14px 15px 0 rgba(0, 0, 0, .1);
}

.menu {
	display: flex;
	list-style-type: none;
	padding-right: 20px;
}


.active {
	color: black;
	background-image: linear-gradient(yellow, #f39c12);
}

.regbut {
	position: absolute;
	margin-top: 130px;
	padding-left: 25px;
	font-size: 20px;
}

.subtitle {
	text-align: center;
	font-family: Luminari, fantasy;
}

.form-group {
	display: flex;
	margin: auto;
	padding: auto;
}

.topsearch {
	width: 320px;
	height: 200px;
	text-align: center;
	margin: auto;
	padding: auto;
}

.seven {
	font-size: 36px;
	margin-top: 36px;
	padding-right: 10px;
}

#prefix {
	width: 90px;
	margin-top: 30px;
	text-align: center;
	font-size: 30px;
	border-color: silver;

}

#phone {
	width: 170px;
	margin-top: 30px;
	margin-left: 5px;
	text-align: center;
	font-size: 30px;
	border-color: silver;
	
}

.btn_submit {
	width: 100px;
	height: 60px;
	margin-left: 5px;
	border-radius: 5px;
	border:solid 1;
	border-color: silver;
	margin-top: 30px;
	background-color: #fff;
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 2px 2px 2px 0px rgba(0,0,0,.1), 1px 1px 1px 0px rgba(0,0,0,.1);
}

.btn_add {
	width: 100px;
	height: 60px;
	margin-left: 5px;
	border-radius: 5px;
	border:solid 1;
	border-color: silver;
	margin-top: 30px;
	background-color: #fff;
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 2px 2px 2px 0px rgba(0,0,0,.1), 1px 1px 1px 0px rgba(0,0,0,.1);
}

.titletop {
	width: 110px;
	height: 50px;
	margin-top: -130px;
	margin-left: 200px;
	border-color: #f39c12;
	font-family: Luminari, fantasy;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	text-align: center;
	border-radius: 10px 10px 0 0;
	background-image: linear-gradient(yellow, #f39c12);
	border-color: #f39c12;
}

.titletop h2 {
	font-size: 40px;
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
	color: #fff6a9;
	font-family: Luminari, fantasy;
	text-align: center;
	animation: blink 6s infinite;
	-webkit-animation: blink 4s infinite;
}

@-webkit-keyframes blink {
	20%, 24%, 55% {
		color: #111;
		text-shadow: none;
	}

	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
		/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
		text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
		color: #fff6a9;
	}
}

@keyframes blink {
	20%, 24%, 55% {
		color: #111;
		text-shadow: none;
	}

	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
		/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
		text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
		color: #fff6a9;
	}
}

.numbers__box1 {
	width: 1120px;
	height: 260px;
	border: #f39c12 solid;
	margin: auto;
	background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	animation: morph 2s ease-in-out infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	transition: all 1s ease-in-out;
	z-index: 5;
}

@keyframes morph {
	0% {
		border-radius: 10% 10% 0 0 / 80% 80% 10% 20%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	}

	50% {
		border-radius: 10% 10% 0 0 / 50% 60% 30% 60%;
		background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}

	100% {
		border-radius: 10% 10% 0 0 / 80% 80% 10% 20%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	}
}

.bottom__operators {
	width: 1120px;
	margin: auto;
}

.operators__inner {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 3fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	text-align: center;
}

.operators__inner a {
	margin: auto;
	padding: 5px;
	font-size: 23px;
	list-style-type: none;
	border-radius: 0 0 10px 10px;
}

.beeline {
	background: linear-gradient(292.8deg,#ffd400 .69%,#fcf27e 135.57%);
	color: red;
}

.beeline a:hover {
	color: silver;
}

.activ {
	background: transparent linear-gradient(to left,#2c2e8c 0,#9f248f 35%,#ee255c 65%,#f37021 85%,#faa61a 100%) repeat scroll 0 0;
}

.activ a {
	color: #fff;
}

.activ a:hover {
	color: silver;
}

.kcell {
	background-color: #682d86;
}

.kcell a {
	color: #fff;
}

.kcell a:hover {
	color: silver;
}

.tele2 {
	background-color: black;
}

.tele2 a {
	color: #fff;
}

.tele2 a:hover {
	color: silver;
}

.altel {
	background-color: #e5007d;
}

.altel a {
	color: #fff;
}

.altel a:hover {
	color: silver;
}

.izi {
	background: linear-gradient(103deg,#fda2a2,#ebe561 50%,#8ecccc) no-repeat;
}

.izi a:hover {
	color: silver;
}


.parent {
	padding-top: 40px;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 25px;
	text-align: center;
	justify-items: center;
}

.parent a:hover {
	color: silver;
	text-decoration: none;
	opacity: 0.8;
	color: red;
	animation: myanim 600ms infinite linear;
}

.parent a:active {
	opacity: 0.8;
	text-shadow: 1px 1px 5px #000000,2px 2px 5px #000000,3px 3px 5px #000000,4px 4px 5px #000000,5px 5px 5px #000000,6px 6px 50px #000000,7px 7px 5px #000000,8px 8px 5px #000000,9px 9px 5px #000000,10px 10px 5px #000000,11px 11px 5px #000000,12px 12px 5px #000000,13px 13px 5px #000000,14px 14px 5px #000000,15px 15px 5px #000000,16px 16px 5px #000000,16px 16px 5px #000000,17px 17px 5px #000000,18px 18px 5px #000000,19px 19px 5px #000000;
}

@keyframes myanim {
	10% {
		transform: scale(1)rotate(0deg);
	}

	20% {
		transform: scale(1)rotate(-5deg);
	}

	80% {
		transform: scale(1)rotate(5deg);
	}

	100% {
		transform: scale(1)rotate(0deg);
	}
}

.topnum {
	border: solid #fda2a2;
	border-radius: 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 21px;
	background-image: linear-gradient(white, #ebeddd);
}

.button-three {
	text-align: center;
	font-family: 'Coda Caption', sans-serif;
	cursor: pointer;
	border-radius: 0 0 10px 10px;
	border: none;
	text-align: center;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	text-decoration: none;
}

.button-three:hover {
	box-shadow: 0px 2px 10px 5px #fda2a2;
	color: #000;
}

.button-three:after {
	content: "";
	background: #fda2a2;
	opacity: 0;
	transition: all 0.8s
}

.button-three:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}

/* симкарты */
.numbers__box2 {
	width: 1120px;
	height: 1000px;
	padding-top: 50px;
	margin: auto;
}

.seven2 {
	border-radius: 0 10px 0 0;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.seven2 h4 {
	text-align: center;
	margin-top: 4px;
	margin-right: 10px;
}

.topnumbox2 {
	border: solid #f39c12;
	border-radius: 10px 10px 0 10px;
	width: 180px;
	height: 40px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 1px;
	padding-bottom: 2px;
	font-size: 21px;
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}

.title__text_beeline {
	font-family: 'Coda Caption', sans-serif;
	border-radius: 10px 10px 0 0;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 0px;
	color: black;
	background: linear-gradient(292.8deg,#ffd400 .69%,#fcf27e 135.57%);
}

.title__text_kcell {
	background-color: #f39c12;
	font-family: 'Coda Caption', sans-serif;
	border-radius: 10px 10px 0 0;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	background-color: #682d86;
}

.title__text_activ {
	background-color: #f39c12;
	font-family: 'Coda Caption', sans-serif;
	border-radius: 10px 10px 0 0;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	background: transparent linear-gradient(to left,#2c2e8c 0,#9f248f 35%,#ee255c 65%,#f37021 85%,#faa61a 100%) repeat scroll 0 0;
}

.title__text_tele2 {
	background-color: #f39c12;
	font-family: 'Coda Caption', sans-serif;
	border-radius: 10px 10px 0 0;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	background-color: black;
}

.title__text_altel {
	background-color: #f39c12;
	font-family: 'Coda Caption', sans-serif;
	border-radius: 10px 10px 0 0;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	background-color: #e5007d;
}

.title__text_izi {
	background-color: #f39c12;
	font-family: 'Coda Caption', sans-serif;
	border-radius: 10px 10px 0 0;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 100px;
	min-width: 20px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 0px;
	color: black;
	background: linear-gradient(103deg,#fda2a2,#ebe561 50%,#8ecccc) no-repeat;
}

.title__sell {
	text-align: right;
	background-image: linear-gradient(#babebf, #d7dcde);
	max-width: 150px;
	padding-right: 5px;
	padding-left: 5px;
	float: right;
	border-radius: 0 0 10px 10px;
}

.parent2 {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 35px;
	text-align: center;
	justify-items: center;
}



.purchase-form {
	width: 500px;
	height: 340px;
	background-color: #fff;
	border-radius: 20px;
	margin-top: 30px;
	margin-left: 100px;
	box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
	outline: none;
}

.purchase-form-top {
	width: 500px;
	height: 70px;
	display: flex;
}

.purchase-logo {
	width: 90px;
	height: 70px;
}

.purchase-num {
	width: 410px;
	height: 70px;
	border-left: 1px solid black;
}

.numer-pure {
	font-size: 45px;
	text-align: center;
}

.purchase-form-top {
	border-bottom: 1px solid black;
}

.purchase-form-middle {
	width: 500px;
	height: 190px;
	font-size: 20px;
}

.purchase-form-middle ul {
	padding-top: 20px;
}

.purchase-form-middle li {
	width: 300px;
	vertical-align: middle;
	list-style-type: none;
	border-bottom-style: solid;
}

.purchase-form-bottom {
	width: 500px;
	height: 70px;
}

.two-button {
	padding: 0;
	display: flex;
	justify-content: space-between;
	background-image: linear-gradient(#f39c12 yellow);
	margin-top: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.purchase-form-bottom li {
	width: 250px;
	height: 60px;
	font-size: 32px;
	list-style-type: none;
	text-align: center;
	box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,.5), 0px 0px 1px 0px rgba(0,0,0,.1), 0px 0px 0px 0px rgba(0,0,0,.1);
}


.comment {
	width: 350px;
	height: 50px;
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
	margin: auto;
	padding-top: 50px;
}

.regbut-pure {
	width: 350px;
	height: 50px;
	margin: auto;
	padding-top: 80px;
	text-align: center;
	font-size: 20px;
}

.footer {
	width: 100%;
	height: 130px;
	position: absolute;
	margin-top: 100px;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: bottom;
	background-size: 100% 125px;
	background-repeat: no-repeat;
}

.footer__inner {
	width: 500px;
	height: 100px;
	margin: auto;
	padding: auto;
	font-size: 26px;
	text-align: center;
}

.footer__inner li {
	list-style-type: none;
}

/* PROFILE OF SELLER */

.info-seller {
	margin-left: 65px;
	margin-top: 30px;
}

.info-seller p {
	font-size: 23px;
	text-align: center;
}

.info-seller h1 {
	font-size: 28px;
}

.info-seller .name_seller {
	font-family: 'Coda Caption', sans-serif;
}

.numbers_of_seller .numbers__box2 {
	padding-top: 0;
}

/* PERSONAL PAGE */

.add_number {
	padding: 0 65px;
}

/* ADD NUMBER */

.form_add_number {
	padding: 0 65px;
}

.form_add_number input[type='text'], .form_add_number input[type='number'], .form_add_number select {
	display: block;
	width: 250px;
	border-radius: 15px;
	border: 2px solid #d7d7d7;
	padding: 5px 15px;
}

.form_add_number input:focus, .form_add_number input::-moz-focus-inner, select:focus {
	outline: none;
	border: 2px solid #ffcd39;
	box-shadow: 0 0 10px rgba(204, 164, 45, 0.4) !important;
}

.form_add_number input:hover, select:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
	transition: all 0.2s;

}

.form_add_number input:invalid {
	box-shadow: none;
}

.form_add_number input[type='checkbox'] {
	vertical-align: middle;
}

.form_add_number select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_add_number button {
	color: white;
	width: 125px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

.form_add_number label {
	margin-bottom: 6px;
	text-transform: uppercase;
	font-weight: bold;
}

/* HEADER */

.menu .this_page {
	box-shadow: inset 7px 7px 7px 0 rgb(255, 204, 11), 17px 17px 10px 0 rgba(226, 36, 36, .1), 14px 14px 15px 0 rgba(0, 0, 0, .1);
}