{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    <div class="form_add_number">
        <form method="POST" action="/add/">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>


{% endblock content %}

{% block scripts %}
<script type="text/javascript">
     $(document).ready(function () {
        $("input[name=msisdn]").mask("**********", { placeholder: "", autoclear: false});
        $("input[name=contact_phone]").mask("**********", { placeholder: "", autoclear: false});
    });
</script>
{% endblock  %}