﻿{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="purchase-form">

    <div class="purchase-form-top">
        <div class="purchase-logo"><img src="" alt=""></div>
        <div class="purchase-num">
            <p class="numer-pure">+7{{item.msisdn}}</p>
        </div>
    </div>

    <div class="purchase-form-middle">
        <ul>
            <li>Оператор: {{item.get_operator_display}}</li>
            <li>ЦЕНА: {{item.price}} &#8376;</li>
            <li>ИМЯ ПРОДАВЦА: <a href="{% url 'seller' item.owner.id %}">{{item.owner}}</a></li>
            <li>ГОРОД: {{item.get_city_display}}</li>
            <li>КОНТАКТЫ: <a href="tel:+{{item.contact_phone}}">{{item.contact_phone}}</a></li>
            <li>ОПИСАНИЕ: {{item.desctiption}}</li>
        </ul>
    </div>

    <div class="purchase-form-bottom">
        <ul class="two-button">
            <li><a href="tel:+{{item.contact_phone}}">Позвонить</a></li>
            <li><a href="">Написать</a></li>
        </ul>
    </div>
</div>


<div class="comment">
    <a href="">Оставить комментарий</a>
</div>

<div class="regbut-pure">
    <a href="{% url 'registration' %}">Регистрация</a> / <a href="{%url 'login'%}">Вход</a>
</div>
{% endblock content %}