<div class="header">
	<div class="header__section">
		<div class="header__item1 headerButton" id="link-home"><a href="{% url 'home' %}" class="btn-2">Главная</a></div>

		<div class="regbut">
			{% if user.is_authenticated %}
			{{user.username}}
			<a href="/my">Мои номера</a>
			{% else %}
			<a href="{% url 'registration' %}">Регистрация  </a> /
			<a href="{% url 'login' %}"> Вход</a>
			{% endif %}

		</div>
	</div>


	<div class="header__section">
		<div class="header__item2" id="header__item2">
			<ul class="menu">
				<li><a href="?is_rent=0" class="btn-2 {% if this_page == 'buy' %}this_page{% endif %}">Купить</a></li>
				<li><a href="?is_rent=1" class="btn-2 {% if this_page == 'order' %}this_page{% endif %}">Аренда</a></li>
			</ul>


		</div>

	</div>
</div>