﻿
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
    <title>Simkard.kz</title>
</head>
<body>
    <div class="conteiner__block">

        {% include 'base/header.html' %}

        {% block content %}

        {% endblock content %}

        {% include 'base/footer.html' %}



    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>-->
    <script type="text/javascript" src="../../static/js/newJS/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/newJS/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../static/js/newJS/jquery.maskedinput-1.2.2.js" ></script>

    <script type="text/javascript">

        $("#prefix").mask("***", { placeholder: "*", autoclear: false});
        $("#phone").mask("***-**-**", { placeholder: "*", autoclear: false});
    </script>

    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">

        $(document).ready(function () {

            // Get current page URL
            var url = window.location.href;

            // remove # from URL
            url = url.substring(0, (url.indexOf("#") == -1) ? url.length : url.indexOf("#"));

            // remove parameters from URL
            url = url.substring(0, (url.indexOf("?") == -1) ? url.length : url.indexOf("?"));

            // select file name
            url = url.substr(url.lastIndexOf("/") + 1);

            // If file name not avilable
            if (url == '') {
                url = 'index.html';
            }

            // Loop all menu items
            $('.menu li').each(function () {

                // select href
                var href = $(this).find('a').attr('href');

                // Check filename
                if (url == href) {

                    // Add active class
                    $(this).addClass('active');
                }
            });
        });
    </script>


</body>
</html>